body {
  font-family: Arial, sans-serif;
  color: rgb(46, 33, 224);
  margin: 20px;
  background-color: #f9f9f9;
}



img[src="/images/3 блок.svg"] {
     
      margin-top: 50px;
      width: 800px;
      transform: rotate(90deg);
      height: 600px;
      image-rendering: pixelated;
      margin-bottom: 40px;
    
}

img[src="/images/2 блок.svg"] {

  margin-top: 50px;
  width: 800px;
  transform: rotate(90deg);
  height: 600px;
  image-rendering: pixelated;
  margin-bottom: 40px;

}
img[src="/images/1 блок.svg"] {

  margin-top: 100px;
  width: 800px;
  transform: rotate(90deg);
  height: 600px;
  image-rendering: pixelated;
  

}

.blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  

}

.blocks h2 {
  margin-bottom: 20px;
  color: #12d844;
}
.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  pointer-events: none;
  z-index: 1000;
  display: none;
}


area {
  cursor: pointer;
}